.icon-left {
    position: absolute;
    left: 10px;
    top:  10px;
}

.icon-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.season-display.winter i {
    color: blue;
}

.season-display.summer i {
    color: red;
}

.winter {
    background-color: rgb(15, 164, 218);
}

.summer {
    background-color: orange;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.largeFont {
    font-size: 48px;
}